/aylson-manage/src/main/resources/config/jdbc.properties
/aylson-core/.classpath
/aylson-core/.project
/aylson-core/.settings
/aylson-core/target
/aylson-dao/.project
/aylson-dao/.settings
/aylson-dao/target
/aylson-dao/.classpath
/aylson-libs/.project
/aylson-libs/.settings
/aylson-manage/.classpath
/aylson-manage/.project
/aylson-manage/.settings
/aylson-manage/target
/aylson-utils/.classpath
/aylson-utils/.project
/aylson-utils/.settings
/dc-build/.settings
/dc-dao/.classpath
/dc-dao/.project
/dc-dao/.settings
/dc-dao/target
/dc-web/.project
/dc-web/.externalToolBuilders
/dc-web/.settings
/dc-web/target
/dc-web/.classpath
/manage-build/.settings
/aylson-owner/.project
/aylson-owner/.settings
/aylson-owner/target
/aylson-owner/.classpath
/.recommenders
/.metadata
/aylson-manage/.externalToolBuilders
/aylson-owner/.externalToolBuilders
/aylson-utils/target
/owner-build/.settings
/RemoteSystemsTempFiles
/Servers
/aylson-partner/.classpath
/aylson-partner/.project
/aylson-partner/.settings
/aylson-partner/target
/ym-dao/target
/ym-manage/target
/logs

