<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.aylson.dc.ytt.po.YttReadHis">

	<resultMap id="ResultMap" type="com.aylson.dc.ytt.vo.YttReadHisVo">
		<id column="id" property="id" jdbcType="VARCHAR" />
		<result column="phoneNum" property="phoneNum" jdbcType="VARCHAR" />
		<result column="data" property="data" jdbcType="VARCHAR" />
		<result column="primaryKey" property="primaryKey" jdbcType="VARCHAR" />
		<result column="isAward" property="isAward" jdbcType="INTEGER" />
		<result column="createDate" property="createDate" jdbcType="VARCHAR" />
		<result column="createdBy" property="createdBy" jdbcType="VARCHAR" />
		<result column="updateDate" property="updateDate" jdbcType="VARCHAR" />
		<result column="updatedBy" property="updatedBy" jdbcType="VARCHAR" />
	</resultMap>

	<sql id="DB_Column_List">
		ytt_read_his.id,
		ytt_read_his.phoneNum,
		ytt_read_his.data, 
		ytt_read_his.primaryKey,
		ytt_read_his.isAward,
		ytt_read_his.createDate,
		ytt_read_his.createdBy,
		ytt_read_his.updateDate,
		ytt_read_his.updatedBy
	</sql>

	<sql id="Where_Condition">
		<where>
			<trim prefixOverrides="and">
				<!-- 匹配查询 -->
				<!-- 模糊查询 -->
				<if test="phoneNumLike != null and phoneNumLike != ''"> and ytt_read_his.phoneNum like CONCAT('%',#{phoneNumLike},'%') </if>
			</trim>
		</where>
	</sql>

	<!-- 查询总数 -->
	<select id="selectCount" resultType="java.lang.Long"
		parameterType="java.util.Map">
		select count(id) from ytt_read_his
		<include refid="Where_Condition" />
	</select>

	<!-- 查询 -->
	<select id="select" resultMap="ResultMap" parameterType="java.util.Map">
		select
		<include refid="DB_Column_List" />
		from ytt_read_his
		<include refid="Where_Condition" />
		<if test="sort == null">order by ytt_read_his.createDate desc </if>
        <if test="sort != null">order by ${sort} ${order}</if>
		<if test="isPage == true">
			<if test="offset != null and limit != null">
            	limit #{offset}, #{limit}
        	</if>
		</if>
	</select>
	
	<!-- 根据ID查询 -->
	<select id="selectById" resultMap="ResultMap" parameterType="java.lang.String">
		select
		<include refid="DB_Column_List" />
		from ytt_read_his
		where id = #{id}
	</select>
	
</mapper>