.scrollgeneric {
	FONT-SIZE: 1px; LEFT: 0px; LINE-HEIGHT: 1px; POSITION: absolute; TOP: 0px
}
.vscrollerbase {
	BACKGROUND: url(images/verticalbar.png) #d7ebdf repeat-y 0px 0px; WIDTH: 15px
}
.vscrollerbase_hidden {
	BACKGROUND: url(images/verticalbar.png) #d7ebdf repeat-y 0px 0px; WIDTH: 15px; VISIBILITY: hidden! important; HEIGHT: 0px
}
.vscrollerbar {
	BACKGROUND: url(images/verticalbar.png) #99cbcb repeat-y -15px 0px; WIDTH: 15px
}
.hscrollerbase {
	BACKGROUND: url(images/horizontalbar.png) #d7ebdf repeat-x 0px -15px; HEIGHT: 15px;
}
.hscrollerbase_hidden{
	BACKGROUND: url(images/horizontalbar.png) #d7ebdf repeat-x 0px -15px; HEIGHT: 0px;visibility:hidden !important;
}
.hscrollerbar {
	BACKGROUND: url(images/horizontalbar.png) #99cbcb repeat-x 0px -30px; HEIGHT: 15px
}
.vscrollerbar {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; Z-INDEX: 2; PADDING-BOTTOM: 10px; PADDING-TOP: 10px
}
.hscrollerbar {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; Z-INDEX: 2; PADDING-BOTTOM: 10px; PADDING-TOP: 10px
}
.vscrollerbarbeg {
	BACKGROUND: url(images/verticalbar.png) no-repeat -45px -30px; WIDTH: 15px; HEIGHT: 15px! important
}
.vscrollerbarend {
	BACKGROUND: url(images/verticalbar.png) no-repeat -45px 0px; WIDTH: 15px; HEIGHT: 15px
}
.hscrollerbarbeg {
	BACKGROUND: url(images/verticalbar.png) no-repeat -60px -15px; WIDTH: 15px! important; HEIGHT: 15px
}
.hscrollerbarend {
	BACKGROUND: url(images/verticalbar.png) no-repeat -30px -15px; WIDTH: 15px; HEIGHT: 15px
}
.scrollerjogbox {
	RIGHT: 0px; BACKGROUND: url(images/horizontalbar.png) #4e727c 0px 0px; LEFT: auto; WIDTH: 15px; BOTTOM: 0px; TOP: auto; HEIGHT: 15px
}
.vscrollerbasebeg {
	BACKGROUND: url(images/verticalbar.png) no-repeat -30px -30px; WIDTH: 15px; HEIGHT: 15px! important
}
.vscrollerbaseend {
	BACKGROUND: url(images/verticalbar.png) no-repeat -60px -30px; WIDTH: 15px; HEIGHT: 15px
}
.hscrollerbasebeg {
	BACKGROUND: url(images/verticalbar.png) no-repeat -60px 0px; WIDTH: 15px! important; HEIGHT: 15px
}
.hscrollerbaseend {
	BACKGROUND: url(images/verticalbar.png) no-repeat -30px 0px; WIDTH: 15px; HEIGHT: 15px
}
.scrollerjogbox:hover {
	BACKGROUND: url(images/verticalbar.png) #5e828c -45px -15px
}
