<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.aylson.dc.sys.po.Activity">
	<!-- <cache type="org.mybatis.caches.ehcache.LoggingEhcache" readOnly="true" 
		/> -->

	<resultMap id="ResultMap" type="com.aylson.dc.sys.vo.ActivityVo">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="actTheme" property="actTheme" jdbcType="VARCHAR" />
		<result column="actBeginTime" property="actBeginTime" jdbcType="TIMESTAMP" />
		<result column="actEndTime" property="actEndTime" jdbcType="TIMESTAMP" />
		<result column="actPlace" property="actPlace" jdbcType="VARCHAR" />
		<result column="actNums" property="actNums" jdbcType="INTEGER" />
		<result column="actIntroduce" property="actIntroduce" jdbcType="VARCHAR" />
		<result column="sponsorPhone" property="sponsorPhone" jdbcType="VARCHAR" />
		<result column="state" property="state" jdbcType="INTEGER" />
		<result column="thumb" property="thumb" jdbcType="VARCHAR" />
	</resultMap>

	<sql id="DB_Column_List">
		sys_activity.id,
		sys_activity.actTheme,
		sys_activity.actBeginTime,
		sys_activity.actEndTime,
		sys_activity.actPlace,
		sys_activity.actNums,
		sys_activity.actIntroduce,
		sys_activity.sponsorPhone,
		sys_activity.state,
		sys_activity.thumb
	</sql>

	<sql id="Where_Condition">
		<where>
			<trim prefixOverrides="and">
				<!-- 匹配查询 -->
				<if test="id != null">and sys_activity.id = #{id}</if>
				<if test="state != null">and sys_activity.state = #{state}</if>
				<!-- 模糊查询 -->
				<if test="actThemeLike != null and actThemeLike != ''">and sys_activity.actTheme like CONCAT('%',#{actThemeLike},'%')</if>
			</trim>
		</where>
	</sql>


	<!-- 查询总数 -->
	<select id="selectCount" resultType="java.lang.Long"
		parameterType="java.util.Map">
		select count(id) from sys_activity
		<include refid="Where_Condition" />
	</select>


	<!-- 查询 -->
	<select id="select" resultMap="ResultMap" parameterType="java.util.Map">
		select
		<include refid="DB_Column_List" />
		from sys_activity
		<include refid="Where_Condition" />
		<if test="sort == null">order by sys_activity.state,sys_activity.id desc</if>
        <if test="sort != null">order by ${sort} ${order}</if>
		<if test="isPage == true">
			<if test="offset != null and limit != null">
            	limit #{offset}, #{limit}
        	</if>
		</if>
	</select>
	
    <!-- 根据ID查询 -->
	<select id="selectById" resultMap="ResultMap" parameterType="java.lang.Integer">
		select
		<include refid="DB_Column_List" />
		from sys_activity
		where id = #{id}
	</select>
	
	<!-- 添加 -->
	<insert id="insert" parameterType="com.aylson.dc.sys.po.Activity">
		insert into sys_activity
		<trim prefix="(" suffix=")" suffixOverrides="," >
		  <if test="actTheme != null" > actTheme, </if>
		  <if test="actBeginTime != null" > actBeginTime, </if>
		  <if test="actEndTime != null" > actEndTime, </if>
		  <if test="actPlace != null" > actPlace, </if>
		  <if test="actNums != null" > actNums, </if>
		  <if test="actIntroduce != null" > actIntroduce, </if>
		  <if test="sponsorPhone != null" > sponsorPhone, </if>
		  <if test="state != null" > state, </if>
		  <if test="thumb != null" > thumb, </if>
		</trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
		  <if test="actTheme != null" > #{actTheme}, </if>
		  <if test="actBeginTime != null" > #{actBeginTime}, </if>
		  <if test="actEndTime != null" > #{actEndTime}, </if>
		  <if test="actPlace != null" > #{actPlace}, </if>
		  <if test="actNums != null" > #{actNums}, </if>
		  <if test="actIntroduce != null" > #{actIntroduce}, </if>
		  <if test="sponsorPhone != null" > #{sponsorPhone}, </if>
		  <if test="state != null" > #{state}, </if>
		  <if test="thumb != null" > #{thumb}, </if>
        </trim>
	</insert>


	<!-- 更新 -->
	<update id="updateById" parameterType="com.aylson.dc.sys.po.Activity">
		update 
			sys_activity 
		<set>
			<if test="actTheme != null"> actTheme = #{actTheme}, </if>
			<if test="actBeginTime != null"> actBeginTime = #{actBeginTime}, </if>
			<if test="actEndTime != null"> actEndTime = #{actEndTime}, </if>
			<if test="actPlace != null"> actPlace = #{actPlace}, </if>
			<if test="actNums != null"> actNums = #{actNums}, </if>
			<if test="actIntroduce != null"> actIntroduce = #{actIntroduce}, </if>
			<if test="sponsorPhone != null"> sponsorPhone = #{sponsorPhone}, </if>
			<if test="state != null"> state = #{state}, </if>
			<if test="thumb != null"> thumb = #{thumb}, </if>
		</set>
		 where id = #{id} 
	</update>

	<!-- 根据ID删除 -->
	<delete id="deleteById" parameterType="java.lang.Integer">
		delete from sys_activity
		where id = #{id}
	</delete>
	
	<!-- 删除 -->
	<delete id="delete" parameterType="java.util.Map">
		delete from sys_activity
		<include refid="Where_Condition" />
	</delete>

</mapper>