<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.aylson.dc.qmtt.po.QmttUserFeedback">

	<resultMap id="ResultMap" type="com.aylson.dc.qmtt.vo.QmttUserFeedbackVo">
		<id column="id" property="id" jdbcType="VARCHAR" />
		<result column="phoneNum" property="phoneNum" jdbcType="VARCHAR" />
		<result column="info" property="info" jdbcType="VARCHAR" />
		<result column="createDate" property="createDate" jdbcType="VARCHAR" />
		<result column="createdBy" property="createdBy" jdbcType="VARCHAR" />
		<result column="updateDate" property="updateDate" jdbcType="VARCHAR" />
		<result column="updatedBy" property="updatedBy" jdbcType="VARCHAR" />
	</resultMap>

	<sql id="DB_Column_List">
		qmtt_user_feekback.id,
		qmtt_user_feekback.phoneNum,
		qmtt_user_feekback.info, 
		qmtt_user_feekback.createDate,
		qmtt_user_feekback.createdBy,
		qmtt_user_feekback.updateDate,
		qmtt_user_feekback.updatedBy
	</sql>

	<sql id="Where_Condition">
		<where>
			<trim prefixOverrides="and">
				<!-- 匹配查询 -->
				<!-- 模糊查询 -->
				<if test="phoneNumLike != null and phoneNumLike != ''"> and qmtt_user_feekback.phoneNum like CONCAT('%',#{phoneNumLike},'%') </if>
			</trim>
		</where>
	</sql>

	<!-- 查询总数 -->
	<select id="selectCount" resultType="java.lang.Long"
		parameterType="java.util.Map">
		select count(id) from qmtt_user_feekback
		<include refid="Where_Condition" />
	</select>

	<!-- 查询 -->
	<select id="select" resultMap="ResultMap" parameterType="java.util.Map">
		select
		<include refid="DB_Column_List" />
		from qmtt_user_feekback
		<include refid="Where_Condition" />
		<if test="sort == null">order by qmtt_user_feekback.createDate desc </if>
        <if test="sort != null">order by ${sort} ${order}</if>
		<if test="isPage == true">
			<if test="offset != null and limit != null">
            	limit #{offset}, #{limit}
        	</if>
		</if>
	</select>
	
	<!-- 根据ID查询 -->
	<select id="selectById" resultMap="ResultMap" parameterType="java.lang.String">
		select
		<include refid="DB_Column_List" />
		from qmtt_user_feekback
		where id = #{id}
	</select>
	
</mapper>