<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.aylson.dc.qmtt.po.StudentConfig">

	<resultMap id="ResultMap" type="com.aylson.dc.qmtt.vo.StudentConfigVo">
		<id column="id" property="id" jdbcType="VARCHAR" />
		<result column="startValue" property="startValue" jdbcType="INTEGER" />
		<result column="endValue" property="endValue" jdbcType="INTEGER" />
		<result column="alpha" property="alpha" jdbcType="INTEGER" />
		<result column="status" property="status" jdbcType="INTEGER" />
		<result column="createDate" property="createDate" jdbcType="VARCHAR" />
		<result column="createdBy" property="createdBy" jdbcType="VARCHAR" />
		<result column="updateDate" property="updateDate" jdbcType="VARCHAR" />
		<result column="updatedBy" property="updatedBy" jdbcType="VARCHAR" />
	</resultMap>

	<sql id="DB_Column_List">
		qmtt_student_config.id,
		qmtt_student_config.startValue,
		qmtt_student_config.endValue, 
		qmtt_student_config.alpha,
		qmtt_student_config.status,
		qmtt_student_config.createDate,
		qmtt_student_config.createdBy,
		qmtt_student_config.updateDate,
		qmtt_student_config.updatedBy
	</sql>

	<sql id="Where_Condition">
		<where>
			<trim prefixOverrides="and">
				<!-- 匹配查询 -->
				<!-- 模糊查询 -->
			</trim>
		</where>
	</sql>

	<!-- 查询总数 -->
	<select id="selectCount" resultType="java.lang.Long"
		parameterType="java.util.Map">
		select count(id) from qmtt_student_config
		<include refid="Where_Condition" />
	</select>

	<!-- 查询 -->
	<select id="select" resultMap="ResultMap" parameterType="java.util.Map">
		select
		<include refid="DB_Column_List" />
		from qmtt_student_config
		<include refid="Where_Condition" />
		<if test="sort == null">order by qmtt_student_config.createDate desc </if>
        <if test="sort != null">order by ${sort} ${order}</if>
		<if test="isPage == true">
			<if test="offset != null and limit != null">
            	limit #{offset}, #{limit}
        	</if>
		</if>
	</select>
	
	<!-- 根据ID查询 -->
	<select id="selectById" resultMap="ResultMap" parameterType="java.lang.String">
		select
		<include refid="DB_Column_List" />
		from qmtt_student_config
		where id = #{id}
	</select>
	
	<!-- 添加 -->
	<insert id="insert" parameterType="com.aylson.dc.qmtt.vo.StudentConfigVo">
		insert into qmtt_student_config
		<trim prefix="(" suffix=")" suffixOverrides="," >
		  <if test="id != null" > id, </if>
		  <if test="startValue != null" > startValue, </if>
		  <if test="endValue != null" > endValue, </if>
		  <if test="alpha != null" > alpha, </if>
		  <if test="status != null" > status, </if>
		  <if test="createDate != null" > createDate, </if>
		  <if test="createdBy != null" > createdBy, </if>
		  <if test="updateDate != null" > updateDate, </if>
		</trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
		  <if test="id != null" > #{id}, </if>
		  <if test="startValue != null" > #{startValue}, </if>
		  <if test="endValue != null" > #{endValue}, </if>
		  <if test="alpha != null" > #{alpha}, </if>
		  <if test="status != null" > #{status}, </if>
		  <if test="createDate != null" > #{createDate}, </if>
		  <if test="createdBy != null" > #{createdBy}, </if>
		  <if test="updateDate != null" > null, </if>
        </trim>
	</insert>
	
	<!-- 更新 -->
	<update id="updateById" parameterType="com.aylson.dc.qmtt.vo.StudentConfigVo">
		update 
			qmtt_student_config 
		<set>
			<if test="startValue != null"> startValue = #{startValue}, </if>
			<if test="endValue != null"> endValue = #{endValue}, </if>
			<if test="alpha != null"> alpha = #{alpha}, </if>
			<if test="status != null"> status = #{status}, </if>
			<if test="updateDate != null"> updateDate = #{updateDate}, </if>
			<if test="updatedBy != null"> updatedBy = #{updatedBy}, </if>
		</set>
		where id = #{id} 
	</update>
	
	<!-- 根据ID删除 -->
	<delete id="deleteById" parameterType="java.lang.String">
		delete from qmtt_student_config
		where id = #{id}
	</delete>
	
</mapper>