<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.aylson.dc.cfdb.po.AppUpgrade">

	<resultMap id="ResultMap" type="com.aylson.dc.cfdb.vo.AppUpgradeVo">
		<id column="id" property="id" jdbcType="VARCHAR" />
		<result column="version" property="version" jdbcType="VARCHAR" />
		<result column="vdesc" property="vdesc" jdbcType="VARCHAR" />
		<result column="apkUrl" property="apkUrl" jdbcType="VARCHAR" />
		<result column="status" property="status" jdbcType="INTEGER" />
		<result column="fields" property="fields" jdbcType="VARCHAR" />
		<result column="platform" property="platform" jdbcType="VARCHAR" />
		<result column="createDate" property="createDate" jdbcType="VARCHAR" />
		<result column="updateDate" property="updateDate" jdbcType="VARCHAR" />
		<result column="createdBy" property="createdBy" jdbcType="VARCHAR" />
		<result column="updatedBy" property="updatedBy" jdbcType="VARCHAR" />
	</resultMap>

	<sql id="DB_Column_List">
		cfdb_app_upgrade.id,
		cfdb_app_upgrade.version,
		cfdb_app_upgrade.vdesc,
		cfdb_app_upgrade.apkUrl,
		cfdb_app_upgrade.status,
		cfdb_app_upgrade.fields,
		cfdb_app_upgrade.platform,
		cfdb_app_upgrade.createDate,
		cfdb_app_upgrade.updateDate,
		cfdb_app_upgrade.createdBy,
		cfdb_app_upgrade.updatedBy
	</sql>

	<sql id="Where_Condition">
		<where>
			<trim prefixOverrides="and">
				<!-- 匹配查询 -->
				<if test="status != null">and cfdb_app_upgrade.status = #{status}</if>
				<!-- 模糊查询 -->
			</trim>
		</where>
	</sql>

	<!-- 查询总数 -->
	<select id="selectCount" resultType="java.lang.Long"
		parameterType="java.util.Map">
		select count(id) from cfdb_app_upgrade
		<include refid="Where_Condition" />
	</select>

	<!-- 查询 -->
	<select id="select" resultMap="ResultMap" parameterType="java.util.Map">
		select
		<include refid="DB_Column_List" />
		from cfdb_app_upgrade
		<include refid="Where_Condition" />
		<if test="sort == null">order by cfdb_app_upgrade.createDate desc </if>
        <if test="sort != null">order by ${sort} ${order}</if>
		<if test="isPage == true">
			<if test="offset != null and limit != null">
            	limit #{offset}, #{limit}
        	</if>
		</if>
	</select>
	
	<!-- 根据ID查询 -->
	<select id="selectById" resultMap="ResultMap" parameterType="java.lang.String">
		select
		<include refid="DB_Column_List" />
		from cfdb_app_upgrade
		where id = #{id}
	</select>
	
	<!-- 添加 -->
	<insert id="insert" parameterType="com.aylson.dc.cfdb.po.AppUpgrade">
		insert into cfdb_app_upgrade
		<trim prefix="(" suffix=")" suffixOverrides="," >
		  <if test="id != null" > id, </if>
		  <if test="version != null" > version, </if>
		  <if test="vdesc != null" > vdesc, </if>
		  <if test="apkUrl != null" > apkUrl, </if>
		  <if test="status != null" > status, </if>
		  <if test="fields != null" > fields, </if>
		  <if test="platform != null" > platform, </if>
		  <if test="createDate != null" > createDate, </if>
		  <if test="createdBy != null" > createdBy, </if>
		  <if test="updateDate != null" > updateDate, </if>
		</trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
		  <if test="id != null" > #{id}, </if>
		  <if test="version != null" > #{version}, </if>
		  <if test="vdesc != null" > #{vdesc}, </if>
		  <if test="apkUrl != null" > #{apkUrl}, </if>
		  <if test="status != null" > #{status}, </if>
		  <if test="fields != null" > #{fields}, </if>
		  <if test="platform != null" > #{platform}, </if>
		  <if test="createDate != null" > #{createDate}, </if>
		  <if test="createdBy != null" > #{createdBy}, </if>
		  <if test="updateDate != null" > null, </if>
        </trim>
	</insert>
	
	<!-- 更新 -->
	<update id="updateById" parameterType="com.aylson.dc.cfdb.po.AppUpgrade">
		update 
			cfdb_app_upgrade 
		<set>
			<if test="version != null"> version = #{version}, </if>
			<if test="vdesc != null"> vdesc = #{vdesc}, </if>
			<if test="apkUrl != null"> apkUrl = #{apkUrl}, </if>
			<if test="status != null"> status = #{status}, </if>
			<if test="fields != null"> fields = #{fields}, </if>
			<if test="platform != null"> platform = #{platform}, </if>
			<if test="updateDate != null"> updateDate = #{updateDate}, </if>
			<if test="updatedBy != null"> updatedBy = #{updatedBy}, </if>
		</set>
		where id = #{id} 
	</update>
	
	<!-- 根据ID删除 -->
	<delete id="deleteById" parameterType="java.lang.String">
		delete from cfdb_app_upgrade
		where id = #{id}
	</delete>
	
</mapper>