<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.aylson.dc.cfdb.po.SdkChannelConfig">

	<resultMap id="ResultMap" type="com.aylson.dc.cfdb.vo.SdkChannelConfigVo">
		<id column="id" property="id" jdbcType="VARCHAR" />
		<result column="channelFlag" property="channelFlag" jdbcType="VARCHAR" />
		<result column="channelName" property="channelName" jdbcType="VARCHAR" />
		<result column="cRate" property="cRate" jdbcType="VARCHAR" />
		<result column="sRate" property="sRate" jdbcType="VARCHAR" />
		<result column="orderNo" property="orderNo" jdbcType="INTEGER" />
		<result column="sdkPwd" property="sdkPwd" jdbcType="VARCHAR" />
		<result column="isEnabled" property="isEnabled" jdbcType="INTEGER" />
		<result column="createDate" property="createDate" jdbcType="VARCHAR" />
		<result column="createdBy" property="createdBy" jdbcType="VARCHAR" />
		<result column="updateDate" property="updateDate" jdbcType="VARCHAR" />
		<result column="updatedBy" property="updatedBy" jdbcType="VARCHAR" />
	</resultMap>

	<sql id="DB_Column_List">
		cfdb_sdk_channel_config.id,
		cfdb_sdk_channel_config.channelFlag,
		cfdb_sdk_channel_config.channelName,
		cfdb_sdk_channel_config.cRate,
		cfdb_sdk_channel_config.sRate,
		cfdb_sdk_channel_config.orderNo,
		cfdb_sdk_channel_config.sdkPwd,
		cfdb_sdk_channel_config.isEnabled,
		cfdb_sdk_channel_config.createDate,
		cfdb_sdk_channel_config.createdBy,
		cfdb_sdk_channel_config.updateDate,
		cfdb_sdk_channel_config.updatedBy
	</sql>

	<sql id="Where_Condition">
		<where>
			<trim prefixOverrides="and">
				<!-- 匹配查询 -->
				<!-- 模糊查询 -->
			</trim>
		</where>
	</sql>

	<!-- 查询总数 -->
	<select id="selectCount" resultType="java.lang.Long"
		parameterType="java.util.Map">
		select count(id) from cfdb_sdk_channel_config
		<include refid="Where_Condition" />
	</select>

	<!-- 查询 -->
	<select id="select" resultMap="ResultMap" parameterType="java.util.Map">
		select
		<include refid="DB_Column_List" />
		from cfdb_sdk_channel_config
		<include refid="Where_Condition" />
		<if test="sort == null">order by cfdb_sdk_channel_config.createDate desc </if>
        <if test="sort != null">order by ${sort} ${order}</if>
		<if test="isPage == true">
			<if test="offset != null and limit != null">
            	limit #{offset}, #{limit}
        	</if>
		</if>
	</select>
	
	<!-- 根据ID查询 -->
	<select id="selectById" resultMap="ResultMap" parameterType="java.lang.String">
		select
		<include refid="DB_Column_List" />
		from cfdb_sdk_channel_config
		where id = #{id}
	</select>
	
	<!-- 添加 -->
	<insert id="insert" parameterType="com.aylson.dc.cfdb.po.SdkChannelConfig">
		insert into cfdb_sdk_channel_config
		<trim prefix="(" suffix=")" suffixOverrides="," >
		  <if test="id != null" > id, </if>
		  <if test="channelFlag != null" > channelFlag, </if>
		  <if test="channelName != null" > channelName, </if>
		  <if test="cRate != null" > cRate, </if>
		  <if test="sRate != null" > sRate, </if>
		  <if test="orderNo != null" > orderNo, </if>
		  <if test="sdkPwd != null" > sdkPwd, </if>
		  <if test="isEnabled != null" > isEnabled, </if>
		  <if test="createDate != null" > createDate, </if>
		  <if test="createdBy != null" > createdBy, </if>
		  <if test="updateDate != null" > updateDate, </if>
		</trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
		  <if test="id != null" > #{id}, </if>
		  <if test="channelFlag != null" > #{channelFlag}, </if>
		  <if test="channelName != null" > #{channelName}, </if>
		  <if test="cRate != null" > #{cRate}, </if>
		  <if test="sRate != null" > #{sRate}, </if>
		  <if test="orderNo != null" > #{orderNo}, </if>
		  <if test="sdkPwd != null" > #{sdkPwd}, </if>
		  <if test="isEnabled != null" > #{isEnabled}, </if>
		  <if test="createDate != null" > #{createDate}, </if>
		  <if test="createdBy != null" > #{createdBy}, </if>
		  <if test="updateDate != null" > null, </if>
        </trim>
	</insert>
	
	<!-- 更新 -->
	<update id="updateById" parameterType="com.aylson.dc.cfdb.po.SdkChannelConfig">
		update 
			cfdb_sdk_channel_config 
		<set>
			<if test="channelFlag != null"> channelFlag = #{channelFlag}, </if>
			<if test="channelName != null"> channelName = #{channelName}, </if>
			<if test="cRate != null"> cRate = #{cRate}, </if>
			<if test="sRate != null"> sRate = #{sRate}, </if>
			<if test="orderNo != null"> orderNo = #{orderNo}, </if>
			<if test="sdkPwd != null"> sdkPwd = #{sdkPwd}, </if>
			<if test="isEnabled != null"> isEnabled = #{isEnabled}, </if>
			<if test="updateDate != null"> updateDate = #{updateDate}, </if>
			<if test="updatedBy != null"> updatedBy = #{updatedBy}, </if>
		</set>
		where id = #{id} 
	</update>
	
	<!-- 根据ID删除 -->
	<delete id="deleteById" parameterType="java.lang.String">
		delete from cfdb_sdk_channel_config
		where id = #{id}
	</delete>
	
</mapper>