<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.aylson.dc.cfdb.po.SysReportInfo">

	<resultMap id="ResultMap" type="com.aylson.dc.cfdb.vo.SysReportInfoVo">
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="value" property="value" jdbcType="VARCHAR" />
	</resultMap>

	<!-- 当日新增用户数 -->
	<select id="selectNewUserOfDay" resultMap="ResultMap" parameterType="java.util.Map">
		select '当日新增用户数' as name,count(1) as value from cfdb_users 
			where date_format(createDate,'%Y-%m-%d')=#{currentTime}
	</select>
	
	<!-- 当日做任务总人数 -->
	<select id="selectUserCountOfTask" resultMap="ResultMap" parameterType="java.util.Map">
		select '当日做任务总人数' as name,count(1) as value from (select distinct deviceid from cfdb_adv_his 
			where date_format(createDate,'%Y-%m-%d')=#{currentTime}) as a
	</select>
	
	<!-- 当日完成任务总数 -->
	<select id="selectTaskCountOfFinished" resultMap="ResultMap" parameterType="java.util.Map">
		select '当日完成任务总数' as name,count(1) as value from (select distinct adid,deviceid from cfdb_adv_his 
			where date_format(createDate,'%Y-%m-%d')=#{currentTime}) as a
	</select>
	
	<!-- 当日用户总收入 -->
	<select id="selectUserIncomeOfDay" resultMap="ResultMap" parameterType="java.util.Map">
		select '当日用户总收入' as name, ifnull((select sum(income) from cfdb_income_his 
			where date_format(incomeTime,'%Y-%m-%d')=#{currentTime} and flag=1),0) - ifnull((select sum(income) from cfdb_income_his 
			where date_format(incomeTime,'%Y-%m-%d')=#{currentTime} and flag=2),0) as value
	</select>
	
	<!-- 当日公司总收入 -->
	<select id="selectSysIncomeOfDay" resultMap="ResultMap" parameterType="java.util.Map">
		select '当日公司总收入' as name, ifnull((select sum(sysincome) from cfdb_income_his 
			where date_format(incomeTime,'%Y-%m-%d')=#{currentTime} and flag=1),0) - ifnull((select sum(sysincome) from cfdb_income_his 
			where date_format(incomeTime,'%Y-%m-%d')=#{currentTime} and flag=2),0)
 		as value
	</select>
	
</mapper>