<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.aylson.dc.cfdb.po.UserSms">

	<resultMap id="ResultMap" type="com.aylson.dc.cfdb.vo.UserSmsVo">
		<id column="id" property="id" jdbcType="VARCHAR" />
		<result column="phoneId" property="phoneId" jdbcType="VARCHAR" />
		<result column="phoneNum" property="phoneNum" jdbcType="VARCHAR" />
		<result column="msgCode" property="msgCode" jdbcType="VARCHAR" />
		<result column="createDate" property="createDate" jdbcType="VARCHAR" />
		<result column="updateDate" property="updateDate" jdbcType="VARCHAR" />
		<result column="createdBy" property="createdBy" jdbcType="VARCHAR" />
		<result column="updatedBy" property="updatedBy" jdbcType="VARCHAR" />
	</resultMap>

	<sql id="DB_Column_List">
		cfdb_user_sms.id,
		cfdb_user_sms.phoneId,
		cfdb_user_sms.phoneNum,
		cfdb_user_sms.msgCode,
		cfdb_user_sms.createDate,
		cfdb_user_sms.updateDate,
		cfdb_user_sms.createdBy,
		cfdb_user_sms.updatedBy
	</sql>

	<sql id="Where_Condition">
		<where>
			<trim prefixOverrides="and">
				<!-- 匹配查询 -->
				<!-- 模糊查询 -->
				<if test="phoneIdLike != null and phoneIdLike != ''"> and cfdb_user_sms.phoneId like CONCAT('%',#{phoneIdLike},'%') </if>
				<if test="phoneNumLike != null and phoneNumLike != ''"> and cfdb_user_sms.phoneNum like CONCAT('%',#{phoneNumLike},'%') </if>
			</trim>
		</where>
	</sql>

	<!-- 查询总数 -->
	<select id="selectCount" resultType="java.lang.Long"
		parameterType="java.util.Map">
		select count(id) from cfdb_user_sms
		<include refid="Where_Condition" />
	</select>

	<!-- 查询 -->
	<select id="select" resultMap="ResultMap" parameterType="java.util.Map">
		select
		<include refid="DB_Column_List" />
		from cfdb_user_sms
		<include refid="Where_Condition" />
		<if test="sort == null">order by cfdb_user_sms.createDate desc </if>
        <if test="sort != null">order by ${sort} ${order}</if>
		<if test="isPage == true">
			<if test="offset != null and limit != null">
            	limit #{offset}, #{limit}
        	</if>
		</if>
	</select>
	
	<!-- 根据ID查询 -->
	<select id="selectById" resultMap="ResultMap" parameterType="java.lang.String">
		select
		<include refid="DB_Column_List" />
		from cfdb_user_sms
		where id = #{id}
	</select>
	
	<!-- 添加 -->
	<insert id="insert" parameterType="com.aylson.dc.cfdb.po.UserSms">
		insert into cfdb_user_sms
		<trim prefix="(" suffix=")" suffixOverrides="," >
		  <if test="id != null" > id, </if>
		  <if test="phoneId != null" > phoneId, </if>
		  <if test="phoneNum != null" > phoneNum, </if>
		  <if test="msgCode != null" > msgCode, </if>
		  <if test="createDate != null" > createDate, </if>
		  <if test="createdBy != null" > createdBy, </if>
		  <if test="updateDate != null" > updateDate, </if>
		</trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
		  <if test="id != null" > #{id}, </if>
		  <if test="phoneId != null" > #{phoneId}, </if>
		  <if test="phoneNum != null" > #{phoneNum}, </if>
		  <if test="msgCode != null" > #{msgCode}, </if>
		  <if test="createDate != null" > #{createDate}, </if>
		  <if test="createdBy != null" > #{createdBy}, </if>
		  <if test="updateDate != null" > null, </if>
        </trim>
	</insert>
	
	<!-- 更新 -->
	<update id="updateById" parameterType="com.aylson.dc.cfdb.po.UserSms">
		update 
			cfdb_user_sms 
		<set>
			<if test="phoneId != null"> phoneId = #{phoneId}, </if>
			<if test="phoneNum != null"> phoneNum = #{phoneNum}, </if>
			<if test="msgCode != null"> msgCode = #{msgCode}, </if>
			<if test="updateDate != null"> updateDate = #{updateDate}, </if>
			<if test="updatedBy != null"> updatedBy = #{updatedBy}, </if>
		</set>
		where id = #{id} 
	</update>
	
	<!-- 根据ID删除 -->
	<delete id="deleteById" parameterType="java.lang.String">
		delete from cfdb_user_sms
		where id = #{id}
	</delete>
	
</mapper>