<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.aylson.dc.mem.po.FeedBackReply">
	<!-- <cache type="org.mybatis.caches.ehcache.LoggingEhcache" readOnly="true" 
		/> -->

	<resultMap id="ResultMap" type="com.aylson.dc.mem.vo.FeedBackReplyVo">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="feedBackId" property="feedBackId" jdbcType="INTEGER" />
		<result column="replyCont" property="replyCont" jdbcType="VARCHAR" />
		<result column="replyTime" property="replyTime" jdbcType="TIMESTAMP" />
		<result column="replyType" property="replyType" jdbcType="INTEGER" />
	</resultMap>

	<sql id="DB_Column_List">
		mem_feedback_reply.id,
		mem_feedback_reply.feedBackId,
		mem_feedback_reply.replyCont,
		mem_feedback_reply.replyTime,
		mem_feedback_reply.replyType
	</sql>

	<sql id="Where_Condition">
		<where>
			<trim prefixOverrides="and">
				<!-- 匹配查询 -->
				<if test="id != null">and mem_feedback_reply.id = #{id}</if>
				<if test="feedBackId != null">and mem_feedback_reply.feedBackId = #{feedBackId}</if>
				<!-- 模糊查询 -->
			</trim>
		</where>
	</sql>

	<!-- 查询总数 -->
	<select id="selectCount" resultType="java.lang.Long"
		parameterType="java.util.Map">
		select count(id) from mem_feedback_reply
		<include refid="Where_Condition" />
	</select>

	<!-- 查询 -->
	<select id="select" resultMap="ResultMap" parameterType="java.util.Map">
		select
		<include refid="DB_Column_List" />
		from mem_feedback_reply
		<include refid="Where_Condition" />
		<if test="sort == null">order by mem_feedback_reply.replyTime</if>
        <if test="sort != null">order by ${sort} ${order}</if>
		<if test="isPage == true">
			<if test="offset != null and limit != null">
            	limit #{offset}, #{limit}
        	</if>
		</if>
	</select>
	
    <!-- 根据ID查询 -->
	<select id="selectById" resultMap="ResultMap" parameterType="java.lang.Integer">
		select
		<include refid="DB_Column_List" />
		from mem_feedback_reply
		where id = #{id}
	</select>
	
	<!-- 添加 -->
	<insert id="insert" parameterType="com.aylson.dc.mem.po.FeedBackReply">
		insert into mem_feedback_reply
		<trim prefix="(" suffix=")" suffixOverrides="," >
		  <if test="feedBackId != null" > feedBackId, </if>
		  <if test="replyCont != null" > replyCont, </if>
		  <if test="replyTime != null" > replyTime, </if>
		  <if test="replyType != null" > replyType, </if>
		</trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
		  <if test="feedBackId != null" > #{feedBackId}, </if>
		  <if test="replyCont != null" > #{replyCont}, </if>
		  <if test="replyTime != null" > #{replyTime}, </if>
		  <if test="replyType != null" > #{replyType}, </if>
        </trim>
	</insert>


	<!-- 更新 -->
	<update id="updateById" parameterType="com.aylson.dc.mem.po.FeedBackReply">
		update 
			mem_feedback_reply 
		<set>
			<if test="feedBackId != null"> feedBackId = #{feedBackId}, </if>
			<if test="replyCont != null"> replyCont = #{replyCont}, </if>
			<if test="replyTime != null"> replyTime = #{replyTime}, </if>
			<if test="replyType != null"> replyType = #{replyType}, </if>
		</set>
		 where id = #{id} 
	</update>

	<!-- 根据ID删除 -->
	<delete id="deleteById" parameterType="java.lang.Integer">
		delete from mem_feedback_reply
		where id = #{id}
	</delete>
	
	<!-- 删除 -->
	<delete id="delete" parameterType="java.util.Map">
		delete from mem_feedback_reply
		<include refid="Where_Condition" />
	</delete>

</mapper>