<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.aylson.dc.mem.po.ProjectFlowNode">
	<!-- <cache type="org.mybatis.caches.ehcache.LoggingEhcache" readOnly="true" 
		/> -->

	<resultMap id="ResultMap" type="com.aylson.dc.mem.vo.ProjectFlowNodeVo">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="projectId" property="projectId" jdbcType="INTEGER" />
		<result column="status" property="status" jdbcType="INTEGER" />
		<result column="remark" property="remark" jdbcType="VARCHAR" />
		<result column="createTime" property="createTime" jdbcType="TIMESTAMP" />
		<result column="oper" property="oper" jdbcType="VARCHAR" />
		<result column="operId" property="operId" jdbcType="INTEGER" />
	</resultMap>

	<sql id="DB_Column_List">
		mem_project_flownode.id,
		mem_project_flownode.projectId,
		mem_project_flownode.status,
		mem_project_flownode.remark,
		mem_project_flownode.createTime,
		mem_project_flownode.oper,
		mem_project_flownode.operId
	</sql>

	<sql id="Where_Condition">
		<where>
			<trim prefixOverrides="and">
				<!-- 匹配查询 -->
				<if test="id != null">and mem_project_flownode.id = #{id}</if>
				<if test="projectId != null">and mem_project_flownode.projectId = #{projectId}</if>
				<if test="status != null">and mem_project_flownode.status = #{status}</if>
				<if test="operId != null">and mem_project_flownode.operId = #{operId}</if>
				<!-- 模糊查询 -->
			</trim>
		</where>
	</sql>

	<!-- 查询总数 -->
	<select id="selectCount" resultType="java.lang.Long"
		parameterType="java.util.Map">
		select count(id) from mem_project_flownode
		<include refid="Where_Condition" />
	</select>

	<!-- 查询 -->
	<select id="select" resultMap="ResultMap" parameterType="java.util.Map">
		select
		<include refid="DB_Column_List" />
		from mem_project_flownode
		<include refid="Where_Condition" />
		<if test="sort == null">order by mem_project_flownode.id </if>
        <if test="sort != null">order by ${sort} ${order}</if>
		<if test="isPage == true">
			<if test="offset != null and limit != null">
            	limit #{offset}, #{limit}
        	</if>
		</if>
	</select>
	
    <!-- 根据ID查询 -->
	<select id="selectById" resultMap="ResultMap" parameterType="java.lang.Integer">
		select
		<include refid="DB_Column_List" />
		from mem_project_flownode
		where id = #{id}
	</select>
	
	<!-- 添加 -->
	<insert id="insert" parameterType="com.aylson.dc.mem.po.ProjectFlowNode">
		insert into mem_project_flownode
		<trim prefix="(" suffix=")" suffixOverrides="," >
		  <if test="projectId != null" > projectId, </if>
		  <if test="status != null" > status, </if>
		  <if test="remark != null" > remark, </if>
		  <if test="createTime != null" > createTime, </if>
		  <if test="oper != null" > oper, </if>
		  <if test="operId != null" > operId, </if>
		</trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
		  <if test="projectId != null" > #{projectId}, </if>
		  <if test="status != null" > #{status}, </if>
		  <if test="remark != null" > #{remark}, </if>
		  <if test="createTime != null" > #{createTime}, </if>
		  <if test="oper != null" > #{oper}, </if>
		  <if test="operId != null" > #{operId}, </if>
        </trim>
	</insert>


	<!-- 更新 -->
	<update id="updateById" parameterType="com.aylson.dc.mem.po.ProjectFlowNode">
		update 
			mem_project_flownode 
		<set>
			<if test="projectId != null"> projectId = #{projectId}, </if>
			<if test="status != null"> status = #{status}, </if>
			<if test="remark != null"> remark = #{remark}, </if>
			<if test="createTime != null"> createTime = #{createTime}, </if>
			<if test="oper != null"> oper = #{oper}, </if>
			<if test="operId != null"> operId = #{operId}, </if>
		</set>
		 where id = #{id} 
	</update>

	<!-- 根据ID删除 -->
	<delete id="deleteById" parameterType="java.lang.Integer">
		delete from mem_project_flownode
		where id = #{id}
	</delete>
	
	<!-- 删除 -->
	<delete id="delete" parameterType="java.util.Map">
		delete from mem_project_flownode
		<include refid="Where_Condition" />
	</delete>

</mapper>