<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.aylson.dc.partner.po.CouponConfig">
	<!-- <cache type="org.mybatis.caches.ehcache.LoggingEhcache" readOnly="true" 
		/> -->

	<resultMap id="ResultMap" type="com.aylson.dc.partner.vo.CouponConfigVo">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="couponName" property="couponName" jdbcType="VARCHAR" />
		<result column="couponValue" property="couponValue" jdbcType="FLOAT" />
		<result column="achieveMoney" property="achieveMoney" jdbcType="INTEGER" />
		<result column="state" property="state" jdbcType="INTEGER" />
		<result column="remark" property="remark" jdbcType="VARCHAR" />
		<result column="effectDays" property="effectDays" jdbcType="INTEGER" />
		<result column="createTime" property="createTime" jdbcType="TIMESTAMP" />
	</resultMap>

	<sql id="DB_Column_List">
		partner_coupon_config.id,
		partner_coupon_config.couponName,
		partner_coupon_config.couponValue,
		partner_coupon_config.achieveMoney,
		partner_coupon_config.state,
		partner_coupon_config.remark,
		partner_coupon_config.effectDays,
		partner_coupon_config.createTime
	</sql>

	<sql id="Where_Condition">
		<where>
			<trim prefixOverrides="and">
				<!-- 匹配查询 -->
				<if test="id != null">and partner_coupon_config.id = #{id}</if>
				<if test="state != null">and partner_coupon_config.state = #{state}</if>
				<!-- 模糊查询 -->
				<if test="couponNameLike != null and couponNameLike != '' ">and partner_coupon_config.couponName like CONCAT('%',#{couponNameLike},'%')</if>
			</trim>
		</where>
	</sql>


	<!-- 查询总数 -->
	<select id="selectCount" resultType="java.lang.Long"
		parameterType="java.util.Map">
		select count(partner_coupon_config.id) from partner_coupon_config
		<include refid="Where_Condition" />
	</select>


	<!-- 查询 -->
	<select id="select" resultMap="ResultMap" parameterType="java.util.Map">
		select
		<include refid="DB_Column_List" />
		from partner_coupon_config
		<include refid="Where_Condition" />
		<if test="sort == null">order by partner_coupon_config.id desc</if>
        <if test="sort != null">order by ${sort} ${order}</if>
		<if test="isPage == true">
			<if test="offset != null and limit != null">
            	limit #{offset}, #{limit}
        	</if>
		</if>
	</select>
	
    <!-- 根据ID查询 -->
	<select id="selectById" resultMap="ResultMap" parameterType="java.lang.Integer">
		select
		<include refid="DB_Column_List" />
		from partner_coupon_config
		where partner_coupon_config.id = #{id}
	</select>
	
	<!-- 添加 -->
	<insert id="insert" parameterType="com.aylson.dc.partner.po.CouponConfig">
		insert into partner_coupon_config
		<trim prefix="(" suffix=")" suffixOverrides="," >
		  <if test="couponName != null" > couponName, </if>
		  <if test="couponValue != null" > couponValue, </if>
		  <if test="achieveMoney != null" > achieveMoney, </if>
		  <if test="state != null" > state, </if>
		  <if test="remark != null" > remark, </if>
		  <if test="effectDays != null" > effectDays, </if>
		  <if test="createTime != null" > createTime, </if>
		</trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
		  <if test="couponName != null" > #{couponName}, </if>
		  <if test="couponValue != null" > #{couponValue}, </if>
		  <if test="achieveMoney != null" > #{achieveMoney}, </if>
		  <if test="state != null" > #{state}, </if>
		  <if test="remark != null" > #{remark}, </if>
		  <if test="effectDays != null" > #{effectDays}, </if>
		  <if test="createTime != null" > #{createTime}, </if>
        </trim>
	</insert>


	<!-- 更新 -->
	<update id="updateById" parameterType="com.aylson.dc.partner.po.CouponConfig">
		update 
			partner_coupon_config 
		<set>
			<if test="couponName != null"> couponName = #{couponName}, </if>
			<if test="couponValue != null"> couponValue = #{couponValue}, </if>
			<if test="achieveMoney != null"> achieveMoney = #{achieveMoney}, </if>
			<if test="state != null"> state = #{state}, </if>
			<if test="remark != null"> remark = #{remark}, </if>
			<if test="effectDays != null"> effectDays = #{effectDays}, </if>
			<!-- <if test="createTime != null"> createTime = #{createTime}, </if> -->
		</set>
		 where id = #{id} 
	</update>

	<!-- 根据ID删除 -->
	<delete id="deleteById" parameterType="java.lang.Integer">
		delete from partner_coupon_config
		where partner_coupon_config.id = #{id}
	</delete>
	
	<!-- 删除 -->
	<delete id="delete" parameterType="java.util.Map">
		delete from partner_coupon_config
		<include refid="Where_Condition" />
	</delete>

</mapper>