<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.aylson.dc.owner.po.Design">
	<!-- <cache type="org.mybatis.caches.ehcache.LoggingEhcache" readOnly="true" 
		/> -->

	<resultMap id="ResultMap" type="com.aylson.dc.owner.vo.DesignVo">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="appointId" property="appointId" jdbcType="INTEGER" />
		<result column="clientName" property="clientName" jdbcType="VARCHAR" />
		<result column="clientAddress" property="clientAddress" jdbcType="VARCHAR" />
		<result column="clientPhone" property="clientPhone" jdbcType="VARCHAR" />
		<result column="orderNo" property="orderNo" jdbcType="VARCHAR" />
		<result column="orderTime" property="orderTime" jdbcType="TIMESTAMP" />
		<result column="designType" property="designType" jdbcType="INTEGER" />
		<result column="remark" property="remark" jdbcType="VARCHAR" />
		<result column="createTime" property="createTime" jdbcType="TIMESTAMP" />
		<result column="creater" property="creater" jdbcType="VARCHAR" />
		<result column="state" property="state" jdbcType="INTEGER" />
		<result column="drawUrl" property="drawUrl" jdbcType="VARCHAR" />
		<result column="drawOpition" property="drawOpition" jdbcType="VARCHAR" />
		<result column="billCode" property="billCode" jdbcType="VARCHAR" />
		<!-- 预约信息 -->
		<result column="appointState" property="appointState" jdbcType="INTEGER" />
		<result column="byAgentUserId" property="byAgentUserId" jdbcType="INTEGER" />
		<result column="isAgent" property="isAgent" jdbcType="BIT" />
		<!-- 报价订货单信息 -->
		<result column="quoOrderTime" property="quoOrderTime" jdbcType="TIMESTAMP" />
		<result column="orderAmount" property="orderAmount" jdbcType="FLOAT" />
		<result column="realAmount" property="realAmount" jdbcType="FLOAT" />
		<result column="benefitAmount" property="benefitAmount" jdbcType="FLOAT" />
		<result column="deposit" property="deposit" jdbcType="FLOAT" />
		<result column="salesAmount" property="salesAmount" jdbcType="FLOAT" />
		<result column="payMode" property="payMode" jdbcType="VARCHAR" />
		<result column="deliveryTime" property="deliveryTime" jdbcType="TIMESTAMP" />
		<result column="couponValue" property="couponValue" jdbcType="INTEGER" />
		<result column="partnerCouponValue" property="partnerCouponValue" jdbcType="INTEGER" />
	</resultMap>

	<sql id="DB_Column_List">
		owner_design.id, 
		owner_design.appointId,
		owner_design.clientName, 
		owner_design.clientAddress,
		owner_design.clientPhone, 
		owner_design.orderNo,
		owner_design.orderTime,
		owner_design.designType,
		owner_design.remark,
		owner_design.createTime,
		owner_design.creater,
		owner_design.state,
		owner_design.drawUrl,
		owner_design.drawOpition,
		owner_design.billCode,
		owner_appointment.state as appointState,
		owner_appointment.byAgentUserId,
		owner_appointment.isAgent,
		owner_quotation.orderTime as quoOrderTime,
		owner_quotation.orderAmount,
		owner_quotation.realAmount,
		owner_quotation.benefitAmount,
		owner_quotation.deposit,
		owner_quotation.salesAmount,
		owner_quotation.payMode,
		owner_quotation.deliveryTime,
		owner_quotation.couponValue,
		owner_quotation.partnerCouponValue
	</sql>

	<sql id="Where_Condition">
		<where>
			<trim prefixOverrides="and">
				<!-- 匹配查询 -->
				<if test="id != null">and owner_design.id = #{id}</if>
				<if test="state != null">and owner_design.state = #{state}</if>
				<if test="appointId != null">and owner_design.appointId = #{appointId}</if>
				<!-- 模糊查询 -->
			</trim>
		</where>
	</sql>


	<!-- 查询总数 -->
	<select id="selectCount" resultType="java.lang.Long"
		parameterType="java.util.Map">
		select count(owner_design.id) from owner_design
		left join 
		owner_appointment
		on 
		owner_design.appointId = owner_appointment.id
		left join 
	    owner_quotation
		on 
	    owner_design.id = owner_quotation.designId
		<include refid="Where_Condition" />
	</select>


	<!-- 查询 -->
	<select id="select" resultMap="ResultMap" parameterType="java.util.Map">
		select
		<include refid="DB_Column_List" />
		from owner_design
		left join 
		owner_appointment
		on 
		owner_design.appointId = owner_appointment.id
		left join 
	    owner_quotation
		on 
	    owner_design.id = owner_quotation.designId
		<include refid="Where_Condition" />
		<if test="sort == null">order by owner_design.id desc</if>
        <if test="sort != null">order by ${sort} ${order}</if>
		<if test="isPage == true">
			<if test="offset != null and limit != null">
            	limit #{offset}, #{limit}
        	</if>
		</if>
	</select>
	
    <!-- 根据ID查询 -->
	<select id="selectById" resultMap="ResultMap" parameterType="java.lang.Integer">
		select
		<include refid="DB_Column_List" />
		from owner_design
		left join 
		owner_appointment
		on 
		owner_design.appointId = owner_appointment.id
		left join 
	    owner_quotation
		on 
	    owner_design.id = owner_quotation.designId
		where owner_design.id = #{id}
	</select>
	
	<!-- 添加 -->
	<insert id="insert" parameterType="com.aylson.dc.owner.po.Design" useGeneratedKeys="true" keyProperty="id">
		insert into owner_design
		<trim prefix="(" suffix=")" suffixOverrides="," >
			id,
		  <if test="appointId != null" > appointId, </if>
		  <if test="clientName != null" > clientName, </if>
		  <if test="clientAddress != null" > clientAddress, </if>
		  <if test="clientPhone != null" > clientPhone, </if>
		  <if test="orderNo != null" > orderNo, </if>
		  <if test="orderTime != null" > orderTime, </if>
		  <if test="designType != null" > designType, </if>
		  <if test="remark != null" > remark, </if>
		  <if test="createTime != null" > createTime, </if>
		  <if test="creater != null" > creater, </if>
		  <if test="state != null" > state, </if>
		  <if test="drawUrl != null" > drawUrl, </if>
		  <if test="drawOpition != null" > drawOpition, </if>
		  <if test="billCode != null" > billCode, </if>
		</trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
        	#{id},
		  <if test="appointId != null" > #{appointId}, </if>
		  <if test="clientName != null" > #{clientName}, </if>
		  <if test="clientAddress != null" > #{clientAddress}, </if>
		  <if test="clientPhone != null" > #{clientPhone}, </if>
		  <if test="orderNo != null" > #{orderNo}, </if>
		  <if test="orderTime != null" > #{orderTime}, </if>
		  <if test="designType != null" > #{designType}, </if>
		  <if test="remark != null" > #{remark}, </if>
		  <if test="createTime != null" > #{createTime}, </if>
		  <if test="creater != null" > #{creater}, </if>
		  <if test="state != null" > #{state}, </if>
		  <if test="drawUrl != null" > #{drawUrl}, </if>
		  <if test="drawOpition != null" > #{drawOpition}, </if>
		  <if test="billCode != null" > #{billCode}, </if>
        </trim>
	</insert>


	<!-- 更新 -->
	<update id="updateById" parameterType="com.aylson.dc.owner.po.Design">
		update 
			owner_design 
		<set>
			<if test="appointId != null"> appointId = #{appointId}, </if>
			<if test="clientName != null"> clientName = #{clientName}, </if>
			<if test="clientAddress != null"> clientAddress = #{clientAddress}, </if>
			<if test="clientPhone != null"> clientPhone = #{clientPhone}, </if>
			<if test="orderNo != null"> orderNo = #{orderNo}, </if>
			<if test="orderTime != null"> orderTime = #{orderTime}, </if>
			<if test="designType != null"> designType = #{designType}, </if>
			<if test="remark != null"> remark = #{remark}, </if>
			<if test="createTime != null"> createTime = #{createTime}, </if>
			<if test="creater != null"> creater = #{creater}, </if>
			<if test="state != null"> state = #{state}, </if>
			<if test="drawUrl != null"> drawUrl = #{drawUrl}, </if>
			<if test="drawOpition != null"> drawOpition = #{drawOpition}, </if>
		</set>
		 where id = #{id} 
	</update>

	<!-- 根据ID删除 -->
	<delete id="deleteById" parameterType="java.lang.Integer">
		delete from owner_design
		where id = #{id}
	</delete>
	
	<!-- 删除 -->
	<delete id="delete" parameterType="java.util.Map">
		delete from owner_design
		<include refid="Where_Condition" />
	</delete>
	
	<!-- 批量更新 -->
	<update id="batchUpdate"  parameterType="java.util.List">
          <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            update 
				owner_design 
			<set>
				<if test="item.appointId != null"> appointId = #{item.appointId}, </if>
				<if test="item.clientName != null"> clientName = #{item.clientName}, </if>
				<if test="item.clientAddress != null"> clientAddress = #{item.clientAddress}, </if>
				<if test="item.clientPhone != null"> clientPhone = #{item.clientPhone}, </if>
				<if test="item.orderNo != null"> orderNo = #{item.orderNo}, </if>
				<if test="item.orderTime != null"> orderTime = #{item.orderTime}, </if>
				<if test="item.designType != null"> designType = #{item.designType}, </if>
				<if test="item.remark != null"> remark = #{item.remark}, </if>
				<if test="item.createTime != null"> createTime = #{item.createTime}, </if>
				<if test="item.creater != null"> creater = #{item.creater}, </if>
				<if test="item.state != null"> state = #{item.state}, </if>
				<if test="item.drawUrl != null"> drawUrl = #{item.drawUrl}, </if>
				<if test="item.drawOpition != null"> drawOpition = #{item.drawOpition}, </if>
			</set> 
			 where id = #{item.id} 
         </foreach>
    </update>

</mapper>